body {
    background: #509692;
}

h2 {
    color: #faf3dd;
    width: 50%;
    margin-top: 15%;
    margin-left: 30%;
}

a{
    width: 50%;
    margin-top: 15%;
    margin-left: 42%;
    font-size: 20px;
    color: #ea7500;
}

