{%  extends 'page2/layout.html' %}
{% load static %}

{% block title %}О программе{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'page2/css/about.css' %}">
    <div class="about">
        <h1>О программе<br></h1>
        <h2>Добро пожаловать в приложение.<br><br></h2>
        <h2> Работа с сообщениями:</h2>
        <h3>Пока в данный момент поддерживается один бот Telegram, в ближайшее время планируются доработки</h3>
        <img src="/static/page2/img/message_info.png">
        <h3><br>-При большом кол-ве сообщений, для прогрузки более ранних, нажмите на кружок<br><br>
            -При окончании общения с человеком, используйте галочку. Она переключит режим для человека, обратно на бота<br><br>
            -В данный момент в мессенджере используются простые функции, как отправка сообщений и фото. В дальнейшем планируется доработка.<br><br>
        </h3>
        <img src="/static/page2/img/delite.png">
        <h3><br>-Что-бы удалить отправленное сообщение нажмите на крестик. Обратите внимание, что некоторые сообщения и сообщения у которых прошло 2 дня невозможно удалить, таковы правила Telegram.</h3>
        <h2><br><br>Расширение работы бота и более качественные ответы:</h2>
        <img src="/static/page2/img/form.png">
        <h3><br><br>-Т.к все в стадии разработки-отладки, то для более качественного ответа бота нужны доп данные:<br><br>
            -Если вы понимаете что бот должен отвечать на этот вопрос, но по какой-то причине не ответил, либо хотите дополнительно добавить новые вопросы для ответа,
            заполните данную форму и задайте вопрос точно как человек.<br><br>

        </h3>

    </div>
{% endblock %}